extends layout

block content
  h1= title
  p Welcome to #{title} Js
  p Displaying of 3 different images every time you load the page
  br
  br
  - var image_names= ["chocolate.jpg","mango.jpg","pista.jpg","strawberry.jpg","vanilla.jpg"]            
    -for(let i=0;i<3;i++){
        - let randnum=Math.floor(Math.random()*5)
            img(src= `/images/${image_names[randnum]}` alt="image", height="300", width="300")
        -}